@use 'src/scss/abstracts/vars' as c;

.container-chat {
  padding: 1rem;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  animation: fade 2s;
  flex-direction: column;
  position: relative;
}

