.leftTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
}

.rightBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
}

.rightTop {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
}
