@use 'src/scss/abstracts/vars' as c;

.container-chat {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 3%;
    right: 3%;

    img {
      width: 50%;
    }

    nav {
      padding: 0 1em;
      width: 30%;
      display: flex;
      justify-content: space-around;

      #logout {
        cursor: pointer;
        background-color: c.$blue;
      }

      #logout:hover {
        a {
          color: c.$white;
        }
      }

      li:hover {
        background-color: c.$white;

        a {
          color: black!important;
        }
      }

      li {
        padding: 0 .5em;
        transition: all 500ms linear;
        list-style: none;

        a {
          transition: all 500ms linear;
          color: c.$white;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .container-chat {
    .menu {
      nav {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container-chat {
    .menu {
      img {
        width: 80%;
      }
      align-items: center;
      nav {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container-chat {
    .menu {
      margin-top: 2rem;
      position: inherit;
      img {
        width: 100%;
      }
      nav {
        width: 100%;
        li {
          a {
            font-size: .7rem;
          }
        }
      }
    }
  }
}
