@use '../../scss/abstracts/vars' as c;

.designed {
  display: flex;
  align-items: center;
  position: fixed;
  top: 3%;
  left: 1%;
  transition: 2s linear;

  img {
    margin-left: .5rem;
    width: .7rem;
  }

  span {
    font-weight: bold;
    background: linear-gradient(to right, #2ebf91, #8360c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    a {
      text-decoration-color: c.$white;
    }
  }
}

@media screen and (max-width: 576px) {
  .designed {
    top:0;
    left: 1%;

  }
}
