@use '../../scss/abstracts/vars' as c;

.active-designed {
  bottom: 5%!important;
  right: 2%!important;
}

.designed {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: -100%;
  right: -100%;
  transition: 2s linear;

  img {
    margin-left: .5rem;
    width: .7rem;
  }

  span {
    font-weight: bold;
    background: linear-gradient(to right, #2ebf91, #8360c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    a {
      text-decoration-color: c.$white;
    }
  }
}
