.container {
  .space-rocket {
    overflow: hidden;
    position: fixed;
    bottom: -50%;
    animation: rocket 4s linear forwards;
    max-width: 688px;
    max-height: 495px;
    padding: 2rem;
    width: 100%;
  }

  @keyframes rocket {
    0% {
      left: -20%;
      bottom: -20%;
    }

    100% {
      left: 50%;
      transform: translateX(-50%) translateY(50%);
      bottom: 50%;
    }

  }
}

@media screen and (max-width: 992px) {
  .animation-rocket {
    img {
      top: 40%;
      left: 50%;
      transform: rotate(45deg) translateY(50%) translateX(-50%);
    }
  }
  @keyframes rocket {
    0% {
      left: -80%;
    }
    100% {
      right: inherit;
    }
  }
}
